<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
        <header>
            <div>
                <img src="../img/logo_onax2.png" alt="logo_onax2" width="128" height="128">
            </div>
            <div class="onaxcrossfit">ONAX CROSSFIT</div>
            <nav>
                <ul>
                    <li><a href="../index.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="galeria.html">GALERÍA</a></li>
                    <li><a href="productos.html">NUESTRAS CLASES</a></li>
                    <li><a href="presupuesto.html">INFORMACIÓN</a></li>
                    <li><a href="contacto.html" class="active">CONTACTO</a></li>
                </ul>
            </nav>
        </header>

    <main>
        <section>
            <h1>Ubicación</h1>
            <div class="contenedor-mapa">
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.326845803205!2d-4.027499324287216!3d39.87232497145301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a0b7651a1684f%3A0xf1f5a8a67b35c5b4!2sC.%20R%C3%ADo%20Guadarrama%2C%2077%2C%2045007%20Toledo!5e0!3m2!1ses!2ses!4v1710800000000" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>
        
        <section>
            <h2>CONTACTO</h2>
            <div>
                <p><strong>FITNESS ONAX TOLEDO, S.L.</strong></p>
                <p>CIF: B458000989</p>
                <p>Domicilio: C/ RÍO GUADARRAMA 77</p>
                <a href="mailto:onaxcrossfit@gmail.com" class="mail">onaxcrossfit@gmail.com</a>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="social">
            <a href="#"><img src="../img/facebook.png" alt="Facebook" width="128" height="128"></a>
            <a href="#"><img src="../img/x.png" alt="X" width="128" height="128"></a>
            <a href="#"><img src="../img/instagram.png" alt="Instagram" width="128" height="128"></a>
        </div>
        <p>
            <a href="politica_privacidad.html">Dirección de la empresa | Aviso legal</a>
        </p>
    </footer>
</body>
</html>
