<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/logo_onax2.png" alt="logo_onax2">
        </div>
        <div class="onaxcrossfit">ONAX CROSSFIT</div>
        <nav>
            <ul>
                <li><a href="../index.html">¿QUIENES SOMOS?</a></li>
                <li><a href="galeria.html" class="active">GALERÍA</a></li>
                <li><a href="productos.html">NUESTRAS CLASES</a></li>
                <li><a href="presupuesto.html">INFORMACIÓN</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="clases">
            <div class="clase">
                <h1>CrossFit</h1>
                <img src="../img/imagen_crossfit.jpg" alt="CrossFit">
            </div>
            <div class="clase">
                <h1>Hyrox</h1>
                <img src="../img/imagen_Hyrox2.jpg" alt="Hyrox">
            </div>
            <div class="clase">
                <h1>Halterofilia</h1>
                <img src="../img/imagen_halterofilia.jpg" alt="Halterofilia">
            </div>
        </section>
    </main>
    
    <footer>
        <div class="social">
            <a href="#"><img src="../img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../img/x.png" alt="X"></a>
            <a href="#"><img src="../img/instagram.png" alt="Instagram"></a>
        </div>
        <p>
            <a href="politica_privacidad.html">Dirección de la empresa | Aviso legal</a>
        </p>
    </footer>
</body>
</html>
