<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUESTRAS CLASES</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
        <header>
            <div>
                <img src="../img/logo_onax2.png" alt="logo_onax2" width="80" height="80">
            </div>
            <div class="onaxcrossfit">ONAX CROSSFIT</div>
            <nav>
                <ul>
                    <li><a href="../index.html">¿QUIENES SOMOS?</a></li>
                    <li><a href="galeria.html">GALERÍA</a></li>
                    <li><a href="productos.html" class="active">NUESTRAS CLASES</a></li>
                    <li><a href="presupuesto.html">INFORMACIÓN</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
    
    
    <main>
        <section class="clases">
            <div class="clase">
                <h1>CrossFit</h1>
                <p>Entrenamiento funcional de alta intensidad que mejora la fuerza, resistencia y agilidad.</p>
                <ul>
                    <li>Entrenamientos variados</li>
                    <li>Alta intensidad</li>
                    <li>Ideal para todas las edades</li>
                </ul>
            </div>

            <div class="clase">
                <h1>Hyrox</h1>
                <p>Combinación de ejercicios funcionales y carrera para mejorar el rendimiento físico.</p>
                <ul>
                    <li>Resistencia y fuerza</li>
                    <li>Competencias globales</li>
                    <li>Trabajo en equipo</li>
                </ul>
            </div>

            <div class="clase">
                <h1>Halterofilia</h1>
                <p>Disciplina enfocada en la técnica y fuerza para levantar pesos de manera eficiente.</p>
                <ul>
                    <li>Mejora la fuerza explosiva</li>
                    <li>Técnica y control</li>
                    <li>Ideal para atletas y principiantes</li>
                </ul>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="social">
            <a href="#"><img src="../img/facebook.png" alt="Facebook" width="40" height="30"></a>
            <a href="#"><img src="../img/x.png" alt="X" width="40" height="30"></a>
            <a href="#"><img src="../img/instagram.png" alt="Instagram"  width="40" height="30"></a>
        </div>
        <p>
            <a href="politica_privacidad.html">Dirección de la empresa | Aviso legal</a>
        </p>
    </footer>
</body>
</html>